.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3B82F6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #E5E7EB;
}


/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}

.ProductListPage {
  background-color: gray;
}

.product-list-row {
  margin: 10px 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  background-color: white;
}

.product-list-row > * {
  flex: 1
}

.product-list-row img {
  flex: 0;
  height: 250px;
  width: 200px;
  border: 1px solid black;
  padding: 10px
}

.product-list-row .title {
  font-size: large;
  font-weight: bolder;
}

.ProductDetailsPage {
  background-color: gray;
  height: 100vh
}

.Product-details-container {
  background-color: white;
  padding: 30px;
  margin: 10px 20px;
  border-radius: 10px;
}

.Product-details {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background-color: white;
}

.Product-details > * {
  flex: 1;
  max-width: 50%;
}

.Product-details img {
  flex: 1;
  max-width: 15%;
  border: 1px solid black
}

.Product-details .category {
  padding: 5px 20px;
  background-color: blue;
  color: white;
  width: 150px;
  font-size: smaller;
  border-radius: 5px;
}

.Product-details .title {
  padding: 5px 20px;
  font-size: x-large;
  font-weight: bolder;
  text-align: left;
}

.Product-details .product-description {
  display: flex;
  gap: 30px;
  align-items: center;
}

.Product-details .price {
  margin: auto 30px;
  color: blue;
}

.backButton {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

